/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@0;1&family=IBM+Plex+Serif:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

:root {
  --bg-color: rgb(252, 255, 249);
  --font-color: #000000;
  --logo-color: rgb(45, 92, 83);
  --button-color: rgb(209, 244, 238);
  --button-hover-color: rgb(45, 92, 83);
  --section-radius: 24px;
  --section-padding: 24px;
  --color-green: rgb(45, 92, 83);
  --color-lightgreen: rgb(209, 244, 238);
}

::selection {
  color: rgb(45, 92, 83);
  background: rgb(209, 244, 238);
}

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
    --fs-xxxxl: clamp(3.55rem, 4.04vi + 2.45rem, 6.5rem);
  }
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --fs-sm: 0.8rem;
    --fs-base: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.56rem;
    --fs-xl: 1.95rem;
    --fs-xxl: 2.44rem;
    --fs-xxxl: 3.05rem;
    --fs-xxxxl: 3.55rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --fs-sm: 0.89rem;
      --fs-base: 1.19rem;
      --fs-md: 1.58rem;
      --fs-lg: 2.11rem;
      --fs-xl: 2.81rem;
      --fs-xxl: 3.75rem;
      --fs-xxxl: 5rem;
      --fs-xxxxl: 6.5rem;
    }
  }
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  min-height: 100dvh;
  padding: 0;
  background: var(--bg-color);
  color: var(--font-color);
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Buttons */
.Button_primary {
  color: var(--button-hover-color);
  background-color: var(--button-color);
  padding: 0.75rem 3rem;
  transition: all 0.5s ease;
  font-size: var(--fs-base);
  font-weight: bold;
  text-decoration: none;
  border-radius: 40px;

  &:hover {
    color: var(--button-color);
    background-color: var(--button-hover-color);
  }

  &.Button_inverted {
    color: var(--button-color);
    background-color: var(--button-hover-color);

    &:hover {
      color: var(--button-hover-color);
      background-color: var(--button-color);
    }
  }
}

/* Header */
.Header_container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  max-width: 1920px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 24px 32px;
}

.Header_logo {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: var(--fs-base);
  color: var(--logo-color);

  span:last-child {
    padding-left: 2ch;
  }
}

.Header_menu {
  width: 20px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3px;
  border: 0;
  padding: 0;
  background: none;

  @media screen and (min-width: 1280px) {
    display: none;
  }

  span {
    transition: all 0.5s ease;
    background-color: #000;
    display: block;
    height: 2px;
    width: 100%;
  }

  &.Header_active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(3px, 4px);
    }

    span:nth-child(2) {
      opacity: 0;
      transform: scaleX(0);
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(3px, -4px);
    }
  }
}

.Header_desktop {
  display: flex;
  align-items: center;
  flex: 1 1;
  justify-content: space-between;

  @media screen and (max-width: 1281px) {
    display: none;
  }
}

.Header_mobile {
  &[aria-hidden="true"] {
    display: none;
  }

  display: flex;
  flex-direction: column;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100dvh - 54px);
  padding-top: 80px;
  backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 0.8);

  .Menu_list {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 0 24px;

    li {
      font-size: var(--fs-lg);
    }
  }

  .Menu_buttons {
    flex-direction: column;
    align-items: start;
    margin: 12px 24px;
  }

  .Button_lang {
    font-size: var(--fs-md);
  }

  .Button_primary {
    width: fit-content;
    font-size: var(--fs-md);
  }
}

.Menu_list {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  padding: 0;

  li {
    font-size: var(--fs-base);
    transition: all 0.5s ease;

    a {
      text-decoration: none;
      color: var(--font-color);

      &:hover {
        color: var(--color-green);
      }
    }
  }
}

.Menu_buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.Button_lang {
  font-size: var(--fs-base);
  text-decoration: none;
  color: var(--font-color);

  &:hover {
    color: var(--color-green);
  }
}

.Header_background {
  left: 16px;
  top: 16px;
  height: calc(100% - 33px);
  width: calc(100% - 32px);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px 0px;
}

/* Sections */
.Section_container {
  margin: 0 32px;
}

.Section_1-1 {
  display: grid;
  grid-template-columns: 6fr 5fr;
  gap: 24px;

  @media screen and (max-width: 1281px) {
    grid-template-columns: auto;
  }
}

.Section_top-border {
  padding-top: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.Text_section_center {
  margin: 90px 0 0;
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-xxxl);
  color: var(--color-green);

  @media screen and (max-width: 1281px) {
    margin-top: 60px;
  }
}

.Section_top_margin {
  margin-top: 120px;

  @media screen and (max-width: 1281px) {
    margin-top: 60px;
  }
}

.Text_section_top {
  margin-top: 0;
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-xl);
  color: var(--color-green);
}

/* Hero */
.Hero_wrapper {
  display: flex;
  min-height: 100dvh;
}

.Hero_container {
  display: flex;
  flex: 1;
  padding: 106px 0px 32px;
}

.Hero_inner {
  width: 100%;
  background: var(--color-green);
  border-radius: var(--section-radius);
  padding: var(--section-padding);
  overflow: hidden;
}

.Hero_background {
  background-image: url("sources/hero.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Hero_text {
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-xxxxl);
  color: var(--bg-color);

  @media screen and (max-width: 1281px) {
    font-size: var(--fs-xxxl);
  }
}

/* Who we are */
.Section_who {
  max-width: 65ch;
}

.Image_who {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right;
  border-radius: var(--section-radius);
  max-width: 600px;
  justify-self: end;

  @media screen and (max-width: 1281px) {
    justify-self: start;
    max-width: 100%;
  }
}

.Text_who_primary {
  font-size: var(--fs-md);
  margin-top: 0;
}

.Text_who_secondary {
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-xl);
  margin-top: 8rem;

  @media screen and (max-width: 1281px) {
    margin-top: 4rem;
  }
}

.Text_emphasis {
  color: var(--color-green);
  text-decoration: underline from-font wavy rgb(69, 136, 124);
}

/* Where */
.Section_where {
  max-width: 65ch;
}

.Image_where {
  width: 100%;
  object-fit: cover;
  object-position: right;
  border-radius: var(--section-radius);
  max-width: 600px;
  justify-self: end;

  @media screen and (max-width: 1281px) {
    justify-self: start;
    max-width: 100%;
  }
}

.Text_where_primary {
  font-size: var(--fs-md);
  margin-top: 0;
}

/* Project details */
.Project-details-image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-self: end;

  @media screen and (max-width: 1281px) {
    justify-self: start;
  }
}

.Text_project-container {
  position: sticky;
  top: 100px;
}

/* Support needed */
.Text_support-needed {
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-xxl);
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 12rem;
  max-width: 25ch;
  justify-self: center;
  color: var(--color-green);
  letter-spacing: -0.1rem;
  line-height: 1.2;

  @media screen and (max-width: 1281px) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

/* Our appeal */
.Section_our-appeal {
  min-height: calc(100dvh - 120px);
  background: var(--color-green);
  border-radius: var(--section-radius);
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-lightgreen);
  overflow: hidden;

  @media screen and (max-width: 1281px) {
    min-height: calc(75dvh - 120px);
  }

  h2 {
    font-family: "IBM Plex Serif", serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-xxl);
    margin-top: 0;
    margin-bottom: 16px;
  }

  p {
    margin: 0;
    font-size: var(--fs-xl);
    max-width: 35ch;

    @media screen and (max-width: 1281px) {
      font-size: var(--fs-lg);
    }
  }

  a {
    margin-top: 32px;
    font-size: var(--fs-md);
  }
}

.Section_our-appeal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  filter: blur(5px);
}

/* The association */
.Container_members {
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: 400;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 16px;
    column-gap: 12px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 12px;
      background: var(--color-lightgreen);
      color: var(--color-green);
      border-radius: 12px;
      min-height: 9rem;

      span:nth-child(1) {
        font-size: var(--fs-lg);
      }

      span:nth-child(2) {
        font-size: var(--fs-md);
      }
    }
  }
}

/* Footer */
.Footer_wrapper {
  display: flex;
  min-height: 40dvh;
}

.Footer_container {
  display: flex;
  flex: 1;
  padding: 120px 0px 0px;

  @media screen and (max-width: 1281px) {
    padding-top: 60px;
  }
}

.Footer_inner {
  width: 100%;
  background: var(--color-green);
  border-radius: var(--section-radius) var(--section-radius) 0 0;
  padding: var(--section-padding);
  padding-bottom: 0;
}

.Footer_text {
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fs-xxxl);
  color: var(--color-lightgreen);
  margin-top: 0px;
}

.Footer_bottom-line {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-lightgreen);
  padding-top: 12px;

  @media screen and (max-width: 1281px) {
    flex-direction: column;
  }
}

.Footer_copyright {
  margin-top: 0;
  color: var(--color-lightgreen);
}

.Footer_top {
  margin-top: 0;
  color: var(--color-lightgreen);

  @media screen and (max-width: 1281px) {
    margin-bottom: 1rem;
  }
}
